# Label Encoder

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("iris.csv")

In [3]:
df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width   Class
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
df.tail()

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Class
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [5]:
df.dtypes

Sepal_Length    float64
Sepal_Width     float64
Petal_Length    float64
Petal_Width     float64
Class            object
dtype: object

In [6]:
df["Class"].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [7]:
df["Class"].value_counts()

Setosa        50
Virginica     50
Versicolor    50
Name: Class, dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
label_encoder = LabelEncoder()

In [10]:
print(label_encoder)

LabelEncoder()

In [11]:
df["Class"] = label_encoder.fit_transform(df["Class"])

In [12]:
df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Class
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

In [13]:
df.dtypes

Sepal_Length    float64
Sepal_Width     float64
Petal_Length    float64
Petal_Width     float64
Class             int32
dtype: object

In [14]:
df["Class"].unique()

array([0, 1, 2])

In [15]:
df["Class"].value_counts()

2    50
1    50
0    50
Name: Class, dtype: int64